<!DOCTYPE html>
<html>
<head>
    <title>Create Flight</title>

</head>
<body>
    <h1>Create a New Flight</h1>
    <form action="/create" method="post">
        <label for="flightNumber">Flight Number:</label>
        <input type="text" id="flightNumber" name="flightNumber"><br><br>

        <label for="airline">Airline:</label>
        <input type="text" id="airline" name="airline"><br><br>

        <label for="destination">Destination:</label>
        <input type="text" id="destination" name="destination"><br><br>
        
        <label for="status">Status:</label>
        <input type="text" id="status" name="status"><br><br>
        

        <!-- Add other necessary fields here -->

        <input type="submit" value="Create Flight">
    </form>
    <a href="/home">Back to Home</a><br>
    <a href="/login">Logout</a>
</body>
</html>

