<!DOCTYPE html>
<html>
<head>
    <title>Edit Flight</title>
    <style>
        body {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-image: url('Background.jpg');
            background-size: cover;
            background-position: center;
            font-family: Arial, sans-serif;
            flex-direction: column;
        }
    </style>
   
</head>
<body>
    <h1>Edit Flight Information</h1>
    <form action="/edit" method="post">
    <div style="display:flex;flex-direction:column;">
        <label for="inputFlight">Flight:</label>
        <input type='text' name='inputFlight' placeholder="Enter a Flight number">

        <label for="inputAirline">Airline:</label>
        <input type='text' name='inputAirline' placeholder="Enter a Airline name">

        <label for="inputDestination">Flight:</label>
        <input type='text' name='inputDestination' placeholder="Enter the Destination Name">

     </div>
     <div style="display:flex;flex-direction:column;">  
        <label for="button">Submit:</label>
        <button type="submit" name='button' style="background-color:red; color:white; width:auto" >Submit</button>
     </div>
    </form>
    <a href="/">Back to Home</a>
</body>
</html>
