<!DOCTYPE html>
<html>
<head>
    <title>Edit Flight</title>
    
</head>
<body>
    <h1>Edit Flight Information</h1>
    <form action="/edit" method="post">
        
        <label for="flightNumber">Flight Number:</label>
        <input type="text" id="flightNumber" name="flightNumber" value="<%= flight.flightNumber %>"><br><br>

        <label for="airline">Airline:</label>
        <input type="text" id="airline" name="airline" value="<%= flight.airline %>"><br><br>

        <label for="destination">Destination:</label>
        <input type="text" id="destination" name="destination" value="<%= flight.destination %>"><br><br>

        

        <input type="submit" value="Update Flight">
    </form>
    <a href="/">Back to Home</a>
</body>
</html>

