<!-- home.ejs -->
<head>
    <style>
        body {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-image: url('Background.jpg');
            background-size: cover;
            background-position: center;
            font-family: Arial, sans-serif;
            flex-direction: column;
        }
        a{
		    color:white;
	    }
    </style>
</head>
<h1>Welcome to the Flight Management System</h1>
<nav>
  <ul>
    <li><a href="/create">Create a Flight</a></li>
    <li><a href="/flights">View Flights</a></li>
    <li><a href="/search">Search Flights</a></li>
    <a href="/login">Logout</a>
  </ul>
</nav>

