<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <style>
        body {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-image: url('Background.jpg');
            background-size: cover;
            background-position: center;
            font-family: Arial, sans-serif;
            flex-direction: column;
        }
        a{
		    color:white;
	    }
    </style>
</head>
<body background="Background.jpg">
    <h1>Welcome to flight control system</h1>
    <p>Powered by Render.</p>
    <h2>Login</h2>
    <form action="/login" method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <label for="empty line"></label><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
