<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <style>
        body {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-image: url('Background.jpg');
            background-size: cover;
            background-position: center;
            font-family: Arial, sans-serif;
            flex-direction: column;
        }
        a{
		    color:white;
	    }
    </style>
</head>
<body>
    <h1>Search Results</h1>
    <% if (flights.length > 0) { %>
        <ul>
            <% flights.forEach(flight => { %>
                <li>
                    Flight Number: <%= flight.flightNumber %>,
                    Airline: <%= flight.airline %>,
                    Destination: <%= flight.destination %>,
                    Status: <%= flight.status %>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No flights found.</p>
    <% } %>
    <a href="/search">back to search</a><br>
    <a href="/home">Home</a>
</body>
</html>

